@charset "utf-8";

body {
    box-sizing: border-box;
}

main {
    padding: 40px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: solid 1px #aaa;
    display: block;
    width: calc(100% / 4 - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
}

li:nth-child(4n){
    margin-right: 0;
}

h1 {
    font-size: 28px;
    margin: 20px 0px;
}

h2 {
    font-size: 20px;
    margin: 40px 0 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.memoContent {
    line-height: 1.7;
    font-size: 14px;
}

.date {
    font-size: 9px;
    text-align: right;
}

label.memo{ 
    padding: 20px;
    display: block;
}

input[type=text]{
    margin-bottom: 20px;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type=checkbox]:checked ~ label {
    background-color: #aaa;
}