<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Simple memos</title>
</head>

<body>
    <div id="app">
        <main>
            <h1>Simple memos</h1>
            <!-- 送信して違うページに行かないようにサブミットを制御 -->
            <form v-on:submit.prevent>
                <label for="title">タイトル<br><input type="text" name="title" id="title"
                        v-model="newItem.title"></label><br>
                <label for="body">内容<br><textarea id="body" v-model="newItem.body"></textarea></label>
                <button @click="addItem">Add</button>
                <h2>メモ一覧</h2>
                <ul>
                    <template v-for="(item, index) in items">
                        <li :key="index"><input :id="['memo' + index]" type="checkbox" v-model="item.isDone"><label
                                class="memo" :for="['memo' + index]">
                                <h3>{{ item.title }}</h3>
                                <p class="memoContent">{{ item.body }}</p>
                                <p class="date">{{ item.dates }}</p>
                            </label>
                        </li>
                    </template>
                </ul>
                <button v-on:click="deleteItemChecked()">チェックしたメモを削除</button>
                <!-- <button @click="resetStorage()">localStorageリセット</button> -->
                <!-- <pre>{{$data}}</pre> -->

            </form>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newItem: {
                    title: null,
                    body: null,
                    dates: null
                },
                items: [],
            },
            mounted() {
                this.fetchItem();
            },
            updated() {
                this.updateStorage();
            },
            methods: {
                addItem: function () {
                    if (this.newItem.body == null) return;
                    // オブジェクトをプッシュするときは変数に入れるとスッキリする
                    let now = new Date();
                    let item = {
                        title: this.newItem.title,
                        body: this.newItem.body,
                        dates: now.toLocaleString(),
                        isDone: false
                    };

                    this.items.push(item);
                    // this.updateStorage();
                    console.log(localStorage);
                    this.newItem.title = null;
                    this.newItem.body = null;
                    this.newItem.dates = null;
                    this.updateStorage();
                    // this.fetchItem();
                },
                fetchItem: function () {
                    console.log('fetchItem');
                    console.log(localStorage.length);
                    // ローカルストレージからアイテムをフェッチする関数
                    this.items = JSON.parse(localStorage.getItem('items'));
                    if (!this.items) {
                        this.items = [];
                    }
                },
                resetStorage: function () {
                    localStorage.clear();
                    this.fetchItem();
                },
                updateStorage: function () {
                    console.log('updateStorage');
                    localStorage.setItem('items', JSON.stringify(this.items));
                },
                deleteItemChecked: function () {
                    // isDoneがtrueのものだけがreturn trueされ、新たな配列として格納される
                    this.items = this.items.filter(function (item) {
                        return item.isDone === false;
                    });
                }
            }
        })
    </script>
</body>

</html>