<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple memos</title>
</head>

<body>
    <div id="app">
        <h1>Simple memos</h1>
        <!-- 送信して違うページに行かないようにサブミットを制御 -->
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem"><button @click="addItem">Add</button>
            <ul>
                <li v-for="(memo, index) in memos">{{ memo.item }}<button @click="deleteItem(index)">Delete</button></li>
            </ul>
        </form>
        <pre>{{$data}}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newItem: null,
                memos: [],
            },
            methods: {
                addItem: function () {
                    if(this.newItem == null) return;
                    // オブジェクトをプッシュするときは変数に入れるとスッキリする
                    let memo = {
                        item: this.newItem
                    }
                    this.memos.push(memo);
                    this.newItem = null;
                },
                deleteItem: function (index) {
                    // 第一引数：削除を開始する位置
                    // 第二引数：削除する数
                    this.memos.splice(index, 1);
                }
            }
        })
    </script>
    <style>
        ul {
            display: flex;
            justify-content: space-between;
        }

        li {
            padding: 20px;
            border: solid 1px #aaa;
            display: block;
            width: calc(100% / 4 - 10px);
            margin-bottom: 10px;
        }
    </style>
</body>

</html>